---
import '../styles/global.css';
import Quiz from "../components/Quiz";
---
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Você é mais estranho do que pensa</title>
  </head>
  <body class="mx-auto max-w-2xl p-6 font-sans">
    <h1 class="mb-8 text-4xl font-black">Você é mais estranho do que pensa</h1>
    <Quiz client:load />
  </body>
</html>

